{% load staticfiles %}
{% include "index/head.html" %}
        <h5 class="page-header">
          <a href="http://{{ server }}/itres/add/">申请资源</a>
          <a href="http://{{ server }}/itmes/">资源信息</a>
        </h5>
        <h5>工单列表</h5>
          <div class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                  <th>编号</th>
                  <th>申请人</th>
                  <th>资源类型</th>
                  <th>申请部门</th>
                  <th>归属项目</th>
                  <th>审批人</th>
                  <th>申请时间</th>
                  <th>实例ID</th>
                  <th>状态</th>
                </tr>
              </thead>
              <tbody>
              {% if v_list %}
                {% for id, k in v_list.items %}
                <tr>
                  <td>{{ id }}</td>
                  <td><a href="http://{{ server }}/itres/info/{{ k.id }}/">{{ k.res_applicant }}</td>
                  <td>{{ k.res_types }}</td>
                  <td>{{ k.res_department }}</td>
                  <td>{{ k.project }}</td>
                  <td>{{ k.res_approver }}</td>
                  <td>{{ k.res_creation }}</td>
                  <td>{{ k.res_resid }}</td>
                  <td>{{ k.res_status }}</td>
                </tr>
                {% endfor %}
              {% endif %}
            </tbody>
            </table>
<!--分页显示，在视图中引用分页变量，进行判断，默认显示页面没有href链接 -->
            <ul class="pagination">
            {% if list_page %}
              {% for pn in list_page.paginator.page_range %}
                {% ifequal pn list_page.number %}
            <li role="presentation" class="active"><a>{{ pn }}</a></li>
                {% else %}
            <li><a href="?page={{ pn }}">{{ pn }}</a></li>
                {% endifequal %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% include "index/footer.html" %}